<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="jumbotron bt-info">
    <h1 class="display-4">Middleware polska</h1>
    <p class="lead">This is your futer....</p>
    <hr>
    <%if (formMessage.length) { %>
        <%= formMessage %>
        <% } %>
       
    <p class="lead">
   
        <a class="btn btn-dark btn-sm " href="/register">Register.</a>
     
          <a class="btn btn-info btn-sm  " href="/kontakt">Kontakt</a>
      
    </p>
    
</div>
<div class="allbox">
<div class="box1">
    d
</div>
<div class="box2">
    d
</div>
<div class="box3">
    d
</div>
</div>
</body>
</html>